[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
langchain = "*"
langchain-community = "*"
langchain-huggingface = "*"
sentence-transformers = "*"
faiss-cpu = "*"
huggingface-hub = "*"
openai-whisper = "*"
groq = "*"
flask = "*"
flask-cors = "*"
openai = "*"
pymongo = "*"
flask-jwt-extended = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.12"
